.basket-wrapper {
  padding: 40px 0;
  display: flex;
  gap: 24px;

  @media (max-width: 980px) {
    flex-direction: column;
  }
  @media (max-width: 600px) {
    padding: 20px 0;
  }

  .left-side {
    flex-basis: calc(66.6666% - 24px);
    max-width: calc(66.6666% - 24px);

    @media (max-width: 980px) {
      flex-basis: 100%;
      max-width: 100%;
    }

    .basket-items-wrapper {
      display: flex;
      flex-direction: column;
      border: 1px solid rgb(173, 173, 173);
      border-radius: 10px;

      .basket-header {
        border-bottom: 1px solid rgb(173, 173, 173);
      }
    }
  }

  .right-side {
    flex-basis: calc(33.3333% - 24px);
    max-width: calc(33.3333% - 24px);

    @media (max-width: 980px) {
      flex-basis: 100%;
      max-width: 100%;
      order: -1;
    }

    .sticky-container {
      position: sticky;
      top: 24px;
    }

    .subtotal-promo-code {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 16px;
      border: 1px solid rgb(173, 173, 173);
      border-radius: 10px;
    }
  }
}

.basket-item-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(204, 214, 228, 0.6);

  @media (max-width: 650px) {
    flex-wrap: wrap;
  }
  @media (max-width: 470px) {
    flex-direction: column;
  }
}

.price-and-delete-button-wrapper {
  display: flex;
  align-items: center;
  @media (max-width: 650px) {
    justify-content: space-between;
    width: 100%;
  }
}
