.address-field-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;

  .address-field-title {
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(173, 173, 173);

    @media (max-width: 550px) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }

  .address-field-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;

    @media (max-width: 550px) {
      flex-direction: column;
    }

    .full-width-field {
      flex-basis: 100%;
    }

    .half-width-field {
      flex-basis: calc(50% - 5px);
    }
  }
}
