.team-member {
  max-width: 275px;
  height: 100%;
  display: flex;
  flex-direction: column;

  & img {
    border-radius: 50%;
    margin-bottom: 20px;
  }

  & .content {
    flex-grow: 1;
  }

  & .name {
    color: #575153;
  }

  & .bio {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
