.team-title {
  font-size: 40px;
  font-weight: 700;
  color: #575153;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 40px;

  @media (max-width: 768px) {
    font-size: 32px;
    margin-top: 50px;
    margin-bottom: 15px;
  }
}
