.team-accordion {
  max-width: 900px;
  margin: 0 auto;

  & .panel > div {
    align-items: center;
  }

  & .avatar {
    margin-right: 10px;
  }

  & .title {
    margin-bottom: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  & p {
    margin-top: 5px;
  }
}
