h2 {
  margin: 0;
  font-weight: normal;
  font-size: 1.2rem;
}

.profile-wrapper {
  margin: 0 auto;
  padding-top: 50px;
}

.personal-data {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 10px;

  .personal-data-title {
    display: flex;
    align-items: center;
    min-height: 50px;
    justify-content: space-between;
    padding: 5px 20px;
    margin: 0;
    border-bottom: 1px solid rgb(173, 173, 173);
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
}

.full-width-field {
  flex-basis: 100%;
}

.half-width-field {
  flex-basis: calc(50% - 5px);
}
.half-width-field-address {
  flex-basis: calc(50% - 5px);
}

.default-address {
  background-color: rgb(238, 242, 253);
  border-radius: 10px;
  height: max-content;
}
