.basket-item-details {
  display: flex;

  @media (max-width: 375px) {
    flex-direction: column;
    align-items: center;
  }

  .basket-item-img {
    max-width: 92px;
    max-height: 92px;
  }

  .basket-item-description {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 195px;
    min-height: 120px;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #808d9a;
  }

  .basket-item-name {
    color: black;
  }
}
