.content-wrapper {
  padding: 10px 10px 60px;

  h2 {
    min-height: 42px;
  }
}

.basic-info-title {
  margin: 0;
  padding: 5px 0;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.basic-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 30px;
}

.data-wrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-bottom: 30px;
  * {
    margin: 0;
  }
  .data-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    max-width: calc(100% - 50%);
    @media (max-width: 1080px) {
      max-width: 100%;
    }
  }
  @media (max-width: 1080px) {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.billing-title-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
  flex-wrap: wrap;
}

.submit-button-wrapper {
  display: flex;
  gap: 20px;
  padding-top: 5px;

  .error-message {
    color: red;
  }
}
