.school {
  display: flex;
  align-items: center;
  max-width: 900px;
  margin: 0 auto 60px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.logo {
  flex-basis: 30%;
  width: 30%;
  min-width: 30%;
  margin-right: 40px;

  @media (max-width: 768px) {
    margin-right: 0;
    order: 2;
    flex-basis: 100%;
    width: 100%;
    max-width: 150px;
  }
}

.description {
  margin-top: 0;

  @media (max-width: 768px) {
    order: 1;
    margin-bottom: 20px;
  }
}
