.collaborations {
  max-width: 900px;
  margin: 0 auto;

  & span {
    font-size: 16px;
    margin-left: 10px;
  }
}

.collaborations-item {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: left !important;
}
