.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.title {
  text-align: center;
  font-size: 32px;
}

.button {
  display: flex;
  width: fit-content;
  margin: 0 auto;
}
