.content-wrapper {
  padding-top: 70px;

  .submit-button {
    margin-top: 10px;
  }
}

.message {
  max-width: 500px;
  margin: 0 auto 20px;
  color: red;
}

.form {
  max-width: 500px;
  margin: 0 auto;

  & .field {
    margin: 5px 0;
  }
}

.password {
  position: relative;
  display: flex;
}

.err {
  &:focus {
    border: 0;
  }
}

.link {
  display: block;
  margin: 20px 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(21, 101, 192);
}
