@import "./styles/base/fonts";

body {
  font-family: "Lato", sans-serif;

  p {
    color: #575153;
  }

  h1 {
    margin: 0;
    padding: 20px 0;
  }
}

header + div {
  min-height: calc(100vh - 177px); /* header + footer = 136px */

  @media (max-width: 899px) {
    min-height: calc(100vh - 172px);
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - 220px);
  }

  @media (max-width: 599px) {
    min-height: calc(100vh - 212px);
  }
}
