.total-cost {
  border-bottom: 1px solid rgb(173, 173, 173);

  h2 {
    padding-bottom: 15px;
    font-weight: bold;
  }

  .regular-price-wrapper,
  .promo-code-wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.regular-price,
.promo-code-price {
  font-weight: bold;
}

.promo-code-price {
  color: rgb(16, 196, 76);
}
